.contact {
    width: 100vw;
    min-height: 100vh;

    background-image: url('backContact.webp');
}

.contact h2 {
    color: transparent;
    font-size: 3rem;
    -webkit-text-stroke: 2px #CEB7FF;
    text-align: center;
    padding: 2rem;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100%;
    margin-top: 5rem;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    gap: 1rem;
}

.form input {
    width: 40%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #ceb7ff46;
    color: #fff;
}


.form textarea {
    width: 40%;
    height: 10rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #ceb7ff46;
    color: #fff;
    font-family: Death Star;

}

.form button {
    width: 10%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #ceb7ff;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 2rem;
}

.form button:hover {
    background-color: #ceb7ffab;
    color: #fff;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #ceb7ff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 2rem;
}

.navcontainer2 {
    display: flex;

}