---

---


<section>
    <div class="skills">
        <div class="skills1">
            <div class="card">
                <img src="html.svg" alt="">
                <h3>HTML</h3>
            </div>
            <div class="card">
                <img src="css.svg" alt="">
                <h3>CSS</h3>
            </div>
            <div class="card">
                <img src="js.svg" alt="">
                <h3>JAVASCRIPT</h3>
            </div>
            <div class="card">
                <img src="react.svg" alt="">
                <h3>REACT</h3>
            </div>
        </div>


        <div class="skills2">
            <div class="card">
                <img src="python.svg" alt="">
                <h3>PYTHON</h3>
            </div>
            <div class="card">
                <img src="git.svg" alt="">
                <h3>GIT</h3>
            </div>
        </div>
    </div>
</section>

<style>
    .skills{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    .skills1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    .skills2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        color: #fff;
        width: 200px;
        height: 200px;
        background-color: #371A45;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        padding: 1rem;
    }
    .card:hover{
        transform: translateY(-10px);
    }
    .card img{
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    .card h3{
        font-size: 1.5rem;
        font-weight: 500;
    }

    @media screen and (max-width: 768px){
        .skills{
            flex-direction: column;
        }
        .skills2{
            display: flex;
            flex-direction: column;
        }
        .skills1{
            display: flex;
            flex-direction: column;
        }
    }

</style>