---
import Layout from '../layouts/Layout.astro';

---


<Layout title="Portfolio">
	<div class="topcontainer1">
		<img src="logo.svg" alt="">
		<div class="topcontainer">
			<div class="leftNav">
				<img src="instagram.svg" alt="">
				<img src="githb.svg" alt="">
				<img src="linkdin.svg" alt="" >
			</div>
			<div class="contentcontainer">
				<div class="content">
					<h1>Bienvenido, soy <span>Adrian</span></h1>
					<p>Computer Science student at Universidad Europea
					</p>
					<button class="btn">Download Cv</button>
					<img src="arrow.svg" alt="">
				</div>
			</div>
		</div>
	</div>

	<section>
		<div class="aboutme">
			<img src="yo.jpeg" alt="" class="roundedFace">
			<div class="infocontainer">
				<h2>Adrian Diaz Manzanares</h2>
				<p>Mi nombre es Adrian tengo 20 años, soy estudiante de Ingeniería Informática actualmente en el tercer año.
					Apasionado del desarrollo web. Mi objetivo actual es convertirme en un gran desarrollador Full Stack.Me encanta aprender constantemente y crear mis propios proyectos.
				</p>
				<div class="redes">
					<img src="instagram.svg" alt="">
					<img src="githb.svg" alt="">
					<img src="linkdin.svg" alt="">
				</div>
				<h3>Some of my skills</h3>
			
				<div class="skills">
					<img src="js.svg" alt="">
					<img src="python.svg" alt="">
					<img src="html.svg" alt="">
					<img src="css.svg" alt="">
					<img src="react.svg" alt="">
				</div>
			</div>
		</div>


	</section>
</Layout>




<style>
.topcontainer1 {
	min-height: 100vh;
	width: 100%;
	height: 100vh;
}

.topcontainer1 img {
	width: 3rem;
	padding: 3rem;
}

.topcontainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 80%;
}

.leftNav {
	display: flex;
	flex-direction: column;

}



.leftNav img {
	width: 2rem;
	padding-left: 3rem;
}

.contentcontainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.content h1 {
	font-size: 4rem;
	font-family: ClashDisplay;
	color: #fff;
}

.content h1 span {
	/* background: -webkit-linear-gradient(171deg, #7F5AF0 0%, rgb(90, 140, 240) 50%, rgb(90, 102, 240) 100%); */
	background: rgb(0,0,0);
	background: linear-gradient(171deg, rgb(65, 61, 61) 0%, rgba(90,103,240,1) 42%, rgba(90,184,240,1) 79%, rgba(90,240,164,1) 92%, rgba(90,234,240,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.content p {
	font-size: 1.5rem;
	font-family: ClashDisplay;
	color: #fff;
	
}

.btn {
	background: #7F5AF0;
	border: none;
	padding: 1rem 2rem;
	border-radius: 1rem;
	color: #fff;
	font-size: 1.5rem;
	font-family: ClashDisplay;
	cursor: pointer;
	margin-top: 5rem;
}

.btn:hover {
	background: #5A6CF0;
}

.arrow {
	width: 2rem;
}

.aboutme {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}

.infocontainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
	height: 100%;
	
}

.infocontainer h2 {
	font-size: 3rem;
	font-family: ClashDisplay;
	color: #fff;
}

.infocontainer h2::after {
	content: "";
	display: block;
	width: 5rem;
	height: 0.5rem;
	background: #7F5AF0;
	margin-top: 1rem;
}

.infocontainer h3 {
	font-size: 2rem;
	font-family: ClashDisplay;
	color: #fff;
}

.infocontainer p {
	font-size: 1.5rem;
	font-family: ClashDisplay;
	color: #fff;

}

.roundedFace {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 8rem;
}

.redes {
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.redes img {
	width: 2rem;
	padding: 1rem;
}

.skills img {
	width: 2rem;
	padding: 1rem;
}
	
</style>



