---
import Layout from '../layouts/Layout.astro';

---


<Layout title="Portfolio">
	<div class="topcontainer1">
		<img src="logo.svg" alt="">
		<div class="topcontainer">
			<div class="leftNav">
				<img src="instagram.svg" alt="">
				<img src="githb.svg" alt="">
				<img src="linkdin.svg" alt="" >
			</div>
			<div class="contentcontainer">
				<div class="content">
					<h1>Bienvenido, soy <span>Adrian</span></h1>
					<p>Computer Science student at Universidad Europea
					</p>
					<button class="btn">Download Cv</button>
					<img src="arrow.svg" alt="">
				</div>
			</div>
			<div class="rightNav">
				<div class="rounded"></div>
				<div class="rounded"></div>
				<div class="rounded"></div>
				<div class="rounded"></div>
			</div>
		</div>
	</div>

	<section>
		<div class="aboutme">
			<img src="yo.jpeg" alt="" class="roundedFace">
			<div class="infocontainer">
				<h2>Adrian Diaz Manzanares</h2>
				<p>Mi nombre es Adrian tengo 20 años, soy estudiante de Ingeniería Informática actualmente en el tercer año.
					Apasionado del desarrollo web. Mi objetivo actual es convertirme en un gran desarrollador Full Stack.Me encanta aprender constantemente y crear mis propios proyectos.
				</p>
				<div class="redes">
					<img src="instagram.svg" alt="">
					<img src="githb.svg" alt="">
					<img src="linkdin.svg" alt="">
				</div>
				<h3>Some of my skills</h3>
			
				<div class="skills">
					<img src="js.svg" alt="">
					<img src="python.svg" alt="">
					<img src="html.svg" alt="">
					<img src="css.svg" alt="">
					<img src="react.svg" alt="">
					<img src="git.svg" alt="">
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="projects">
			<h2>Projects</h2>
			<div class="cards">
				<div class="card">
					<h3>Cluby</h3>
					<p>Cluby is a club based social media FullStack project with php api rest backend and Firebase real time chat, where you can meet new friends and chat with them.</p>
					<div class="tecs">
						<img src="js.svg" alt="">
						<img src="css.svg" alt="">
						<img src="html.svg" alt="">
						<img src="firebase.svg" alt="">
						<img src="php.svg" alt="">
					</div>
					<img src="cluby.svg" alt="">
					<div class="btnContainer">
						<button class="btnCard">See on GitHub</button>
					</div>
				</div>
				<div class="card">
					<h3>Tennis App</h3>
					<p>A news and stats app, with firebase auth. Matches and player stats from a public tennis Api.</p>
					<div class="tecs">
						<img src="react.svg" alt="">
						<img src="tailwind.svg" alt="">
						<img src="firebase.svg" alt="">
					</div>
					<img src="tennis.svg" alt="">
					<div class="btnContainer">
						<button class="btnCard">See on GitHub</button>
					</div>				</div>
				<div class="card">
					<h3>Yes or no chooser</h3>
					<p>Yes or no react chooser with coin animation</p>
					<div class="tecs">
						<img src="react.svg" alt="">
					</div>
					<img src="coin.svg" alt="">
					<div class="btnContainer">
						<button class="btnCard">See on GitHub</button>
					</div>				</div>
				<div class="card">
					<h3>Dgt road images scraper</h3>
					<p>Dgt road images scraper.You can enter the specifc km you want the image.</p>
					<div class="tecs">
						<img src="python.svg" alt="">
						<img src="selenium.svg" alt="">
						<img src="jupyter.svg" alt="">
					</div>
					<img src="dgt.svg" alt="">
					<div class="btnContainer">
						<button class="btnCard">See on GitHub</button>
					</div>				</div>
				<div class="card">
					<h3>Movie recommender</h3>
					<p>Movie recommender system desktop App, based on movielens datasets for my 
						intelligent and information systems university final project</p>
					<div class="tecs">
						<img src="python.svg" alt="">
						<img src="PyQt.svg" alt="">
						<img src="nltk.svg" alt="">
						<img src="sklearn.svg" alt="">
					</div>
					<img src="movie.svg" alt="">
					<div class="btnContainer">
						<button class="btnCard">See on GitHub</button>
					</div>				</div>
				<div class="card">
					<h3>Cluby</h3>
					<p>Cluby is a club based social media with php api rest baceknd and Firebase real time chat, where you can meet new friends and chat with them.</p>
					<div class="tecs">
						<img src="js.svg" alt="">
						<img src="css.svg" alt="">
						<img src="html.svg" alt="">
						<img src="firebase.svg" alt="">
						<img src="php.svg" alt="">
					</div>
					<img src="cluby.svg" alt="">
					<div class="btnContainer">
						<button class="btnCard">See on GitHub</button>
					</div>					
				</div>
			</div>
		</div>
	</section>

	<section>
		<h2>Contactemos!</h2>
	</section>
</Layout>




<style>
.topcontainer1 {
	min-height: 100vh;
	width: 100%;
	height: 100vh;
}

.topcontainer1 img {
	width: 3rem;
	padding: 3rem;
}

.topcontainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 80%;
}

.leftNav {
	display: flex;
	flex-direction: column;

}



.leftNav img {
	width: 2rem;
	padding-left: 3rem;
}

.contentcontainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.content h1 {
	font-size: 4rem;
	font-family: ClashDisplay;
	color: #fff;
}

.content h1 span {
	/* background: -webkit-linear-gradient(171deg, #7F5AF0 0%, rgb(90, 140, 240) 50%, rgb(90, 102, 240) 100%); */
	background: rgb(0,0,0);
	background: linear-gradient(171deg, rgb(65, 61, 61) 0%, rgba(90,103,240,1) 42%, rgba(90,184,240,1) 79%, rgba(90,240,164,1) 92%, rgba(90,234,240,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.content p {
	font-size: 1.5rem;
	font-family: ClashDisplay;
	color: #fff;
	
}

.btn {
	background: #7F5AF0;
	border: none;
	padding: 1rem 2rem;
	border-radius: 1rem;
	color: #fff;
	font-size: 1.5rem;
	font-family: ClashDisplay;
	cursor: pointer;
	margin-top: 5rem;
}

.btn:hover {
	background: #5A6CF0;
}

.arrow {
	width: 2rem;
}

.aboutme {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 90vh;

}

.infocontainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
	height: 100%;
	
}

.infocontainer h2 {
	font-size: 3rem;
	font-family: ClashDisplay;
	color: #fff;
}

.infocontainer h2::after {
	content: "";
	display: block;
	width: 5rem;
	height: 0.5rem;
	background: #7F5AF0;
	margin-top: 1rem;
}

.infocontainer h3 {
	font-size: 2rem;
	font-family: ClashDisplay;
	color: #fff;
}

.infocontainer p {
	font-size: 1.5rem;
	font-family: ClashDisplay;
	color: #fff;

}

.roundedFace {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 8rem;
}

.redes {
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.redes img {
	width: 2rem;
	padding: 1rem;
}

.skills img {
	width: 3rem;
	padding: 1rem;
}

.rightNav {
	display: flex;
	flex-direction: column;
	width: 128px;
}

.rounded {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	color: #7F5AF0;
}

.projects {

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.projects h2 {
	font-size: 3rem;
	font-family: ClashDisplay;
	color: #fff;
	text-align: center;
}

.projects h2::after {
	content: "";
	display: block;
	width: 5rem;
	height: 0.5rem;
	background: #7F5AF0;
	margin: 1rem auto;
}

.cards {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
	grid-gap: 1rem;
	width: 90%;
	height: 100%;
}

.card {
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 1rem;
	border: 1px solid #7F5AF0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.cards h3 {
	font-size: 1rem;
	font-family: ClashDisplay;
	color: #fff;
	padding: 1rem;
	padding-left: 3rem;
	margin-bottom: 0;
}

.cards p {
	font-size: 1rem;
	font-family: ClashDisplay;
	color: rgba(255, 255, 255, 0.535);
	padding-left: 3rem;
	padding-bottom: 1rem;
	width: 80%;
	height: 58px;

}

.cards img {
	padding-left: 3rem;
	padding-bottom: 2rem;
}

.tecs {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 2rem;
	margin-bottom: 1rem;
}

.tecs img {
	width: 2rem;
	padding: 1rem;
}

.btnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: 1rem;
}

.btnCard {
	background: #7F5AF0;
	border: none;
	padding: 1em 1rem;
	border-radius: 1rem;
	color: #fff;
	font-size: 1rem;
	font-family: ClashDisplay;
	cursor: pointer;
	width: 50%;
}

.btnCard:hover {
	background: #5A6CF0;
}
	

/* media queries */

@media only screen and (max-width: 600px) {
	.roundedFace {
		margin: 0;
		margin-bottom: 2rem;
	}

	.aboutme {
		flex-direction: column;
		align-items: center;
		margin-top: 5rem;
	}

	.leftNav {
		display: none;
	}

	.rightNav {
		display: none;
	}

	.content h1 {
		font-size: 3rem;
		text-align: center;
		padding-left: 1rem;
	}

	.content p {
		font-size: 1.5rem;
		text-align: center;
		padding-left: 1rem;
	}
	
}
</style>



