---

---


<nav>
    <ul class="navContainer">
        <li><a href=""><img src="github.svg" alt=""></a></li>
        <li><a href=""><img src="instagram.svg" alt=""></a></li>
        <li><a href=""><img src="lnkdin.svg" alt=""></a></li>
    </ul>
</nav>


<style>
    .navContainer {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 30%;
        left: 0;
        z-index: 2;
    }
    
    .navContainer li {
        float: left;
    }
    
    .navContainer li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .navContainer li a:hover {

    }
</style>