---

---

<div class="text">
    <h1>Adrian  diaz  manzares</h1>
    <h2>Computer science student</h2>
</div>


<style>
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }
    .text h1{
        color: transparent;
        font-size: 4rem;
        -webkit-text-stroke: 2px #CEB7FF;
    }

    .text h2{
        color: transparent;
        font-size: 2rem;
        -webkit-text-stroke: 2px #CEB7FF;
    }

</style>